<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>AsyncScrape Controller</title>
</head>
<body>
    <h1>Auto Apply</h1>
    <form method="POST">
        <label for="ui_mode">UI_MODE:</label>
        <input type="text" id="ui_mode" name="ui_mode" value="0" /><br/><br/>

        <label for="looprange">LOOPRANGE:</label>
        <input type="text" id="looprange" name="looprange" value="5" /><br/><br/>

        <label for="user">USER:</label>
        <input type="text" id="user" name="user" value="abraham" /><br/><br/>

        <label for="user">HEADLESS:</label>
        <input type="text" id="headless" name="headless" value="0" /><br/><br/>

        <button type="submit">Run Script</button>
    </form>
</body>
</html>